<!DOCTYPE html>
<html>
<head>
	<title>Home - Towns</title>
	<style type="text/css">
		*{
			margin: 0;
			top:0;
		}
		.topic {
			padding-top: 30px;
			height: 100px;
			font-size:20px;
			color: blue;
			background-color:;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../assets/bootstrap-4.5.0-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="../assets/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<hr>
		<h2 class="text-info"><b>Smart Weather Forecast Service</b></h2>
		<hr>
	</div>
	<div class="container">
		<div class="d-flex flex-row">
			<div class="">
				<h2>Toronto City</h2>
			</div>
			<div class="input-group mb-3 ml-auto" style="width: 30%">
			  <input type="text" class="form-control" placeholder="Enter the city name...">
			  <div class="input-group-append">
			    <button class="btn btn-success" type="submit">Search</button>
			  </div>
			</div>	
		</div>
	</div>
	<div class="container">
		
		<table class="table table-striped">
			<tr>
				<th>Date time</th>
				<th>Temperature</th>
				<th>Humidity</th>
				<th>Pressure</th>
				<th>Wind Speed</th>
				<th>Wind Direction</th>
				<th>Description</th>
				<th>Icon</th>
			</tr>

			<tbody>
				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Scattered clouds</td>
					<td><img src="../images/clear sky.png" width="30px" height="30px"></td>
				</tr>
				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Scattered clouds</td>
					<td><img src="../images/scattered clouds.png" width="30px" height="30px"></td>
				</tr>
				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Overcast</td>
					<td><img src="../images/Overcast.jfif" width="30px" height="30px"></td>
				</tr>

				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Scattered clouds</td>
					<td><img src="../images/clear sky.png" width="30px" height="30px"></td>
				</tr>
				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Haze</td>
					<td><img src="../images/haze weather.png" width="30px" height="30px"></td>
				</tr>
				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Thunderstorms</td>
					<td><img src="../images/thunderstorm.png" width="30px" height="30px"></td>
				</tr>
								<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Scattered clouds</td>
					<td><img src="../images/clear sky.png" width="30px" height="30px"></td>
				</tr>
				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Haze</td>
					<td><img src="../images/haze weather.png" width="30px" height="30px"></td>
				</tr>
				<tr>
					<th>Tomorrow @ 1200 Hrs</th>
					<td>12 C</td>
					<td>60%</td>
					<td>1202 pa</td>
					<td>12 KM/PH</td>
					<td>360 degrees</td>
					<td>Thunderstorms</td>
					<td><img src="../images/thunderstorm.png" width="30px" height="30px"></td>
				</tr>
			</tbody>
			
		</table>
	</div>

</body>


</html>